<h1>Listing posts</h1>

<%= will_paginate %>

<table class ="table table-hover tbPost">
  <colgroup>
    <col>
    <col width="150">
    <col width="50">
    <col width="120">
  </colgroup>
  <thead>
    <tr>
      <th>Title</th>
      <!--<th>Content</th>-->
      <th>User</th>
      <th>Images</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @posts %>
  </tbody>
</table>

<%= will_paginate %>

<br>
<div class="btnArea">
  <%= link_to 'New Post', new_post_path, :class => 'btn btn-primary' %>
</div>
